$blue-color: #197bbd;
$darkBlue-color: #0f4264;
$black-color: #404040;
$grey-color: #aeaeae;
$lightGrey-color: #c7c7c7;
$yellow-color: #ffc145;
$green-color: #439a86;
$orange-color: #bb4430;
$white-color: #ffffff;

@font-face {
  font-family: "Quicksand";
  src: url(../assets/fonts/Lato-Bold.ttf);
}
@font-face {
  font-family: "Suprema";
  src: url(../assets/fonts/Artegra\ -\ Suprema\ Thin.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  font-family: "Quicksand";
  font-weight: 700;
  text-decoration: none;
  color: inherit;
}
ul,
ol {
  list-style: none;
}
.container {
  max-width: 1740px;
  margin: 0 auto;
  padding: 0 25px;
  border-radius: 28px;
  // background-color: $green-color;
}
.dashboard {
  display: grid;
  grid-template-columns: 250px 1fr 1fr;
  grid-template-rows: 10vh 360px 360px;
  grid-template-areas:
    "aside header header"
    "aside cards info"
    "aside transaction info";
  gap: 30px;
  min-height: 100vh;
}
.dashboard__aside {
  grid-area: aside;
  // background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.aside {
  padding: 50px 40px;
  display: grid;
  grid-template-rows: 10vh 1fr 10vh;
  border-right: 1px solid #f8f8f8;
  .logo {
    &__image {
      position: relative;
      display: flex;
      align-items: center;
    }
    &__cloud {
      position: relative;
      margin-right: 12px;
    }
    &__coin {
      position: absolute;
      top: -5px;
      left: 25px;
    }
    span {
    }
  }
  .aside__nav {
  }
  .aside__list {
  }
  .aside__item {
    margin-bottom: 10px;
  }
  .aside__link {
    display: flex;
    align-items: center;
    width: 165px;
    height: 39px;
    img {
      width: 20px;
      height: 20px;
      margin-right: 18px;
      margin: 10px;
    }
  }
  .aside__upgrade {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    img {
      margin-bottom: 10px;
    }
    p {
      font-family: Suprema;
      font-size: 8px;
      line-height: 11px;
      color: #404040;
      margin-bottom: 15px;
    }
  }
  .aside__button {
    min-width: 160px;
    min-height: 40px;
		img {
			margin: 0 0 0 5px;
		}
  }
}
.button {
	display: flex;
	align-items: center;
	justify-content: center;
	background: $yellow-color;
	border-radius: 14px;
	// padding: 18px 13px;
	font-family: "Quicksand";
	font-weight: bold;
	font-size: 11px;
	line-height: 14px;
	color: #404040;
	border: none;
}
.dashboard__header {
  grid-area: header;
  // background-color: aqua;
  display: flex;
  align-items: center;
}
.header {
  display: grid;
  grid-template-columns: 1fr 300px;
  &__content {
  }
  &__heading {
  }
  &__description {
  }
  &__login {
    display: flex;
    margin: 0 0 0 auto;
  }
  &__link {
    display: flex;
    align-items: center;
    margin: 0 20px 0 0;
  }
  &__link:last-child {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 0;
    img {
      grid-column: 1 / span 1;
      grid-row: 1 / span 2;
      background-color: $yellow-color;
      border-radius: 50%;
    }
    h4 {
      grid-column: 2 / span 2;
      grid-row: 1 / span 1;
    }
    p {
      grid-column: 2 / span 2;
      grid-row: 2 / span 1;
    }
  }
}
.box {
  background: linear-gradient(180deg, #ffffff 0%, #ffffff 100%);
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 28px;
  padding: 16px;
}
.dashboard__cards {
  grid-area: cards;
  // background-color: blue;
}
.title {
	font-family: Suprema;
	font-weight: 600;
	font-size: 20.1118px;
	line-height: 25px;
	color: $black-color;
	margin-bottom: 15px;
}
.cards {
  &__title {
    font-family: Suprema;
    font-weight: 600;
    font-size: 20.1118px;
    line-height: 25px;
    color: $black-color;
    margin-bottom: 14px;
  }
  
  &__content {
    display: flex;
    justify-content: space-between;
  }
  &__item {
  }
  &__front {
    position: relative;
    width: 320px;
    height: 210px;
    background: linear-gradient(180deg, #197bbd 0%, #3391d0 100%);
    border-radius: 26px;
    padding: 20px;
    color: $white-color;
    h3 {
      font-family: "Quicksand";
      font-weight: bold;
      font-size: 16.7475px;
      line-height: 21px;
    }
    p {
      font-family: "Lato";
      font-weight: bold;
      font-size: 8px;
      line-height: 10px;
      color: rgba($white-color, 0.39);
    }
    img {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
  .card {
  }
  .card__numbers {
    position: absolute;
    top: 50%;
    left: 46%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    width: 80%;
  }
  .card__number {
    font-family: "Quicksand";
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 4px;
  }
  .card__name {
    position: absolute;
    bottom: 20px;
    display: inline-block;
    margin: 0 40px 0 0;
    font-family: "Lato";
    font-weight: 500;
    h6 {
      font-size: 8px;
      line-height: 9px;
    }
    h5 {
      font-size: 13px;
      line-height: 15px;
    }
  }
  .card__date {
    position: absolute;
    bottom: 20px;
    left: 150px;
    display: inline-block;
    font-family: "Lato";
    font-weight: 500;
    h6 {
      font-size: 8px;
      line-height: 9px;
    }
    h5 {
      font-size: 13px;
      line-height: 15px;
    }
  }
  &__limit {
    .cards__range {
      display: block;
      width: 320px;
      height: 10px;
      margin: 30px 0 10px 0;
      background-color: #f1f1f1;
      border-radius: 14px;
      &::before {
        position: absolute;
        content: "";
        width: 69px;
        height: 10px;
        background-color: $blue-color;
        border-radius: 14px;
      }
    }
  }
  &__text {
    display: inline-block;
    font-family: "Suprema";
    font-size: 14px;
    line-height: 17px;
    color: $grey-color;
  }
  .text {
  }
  span {
    font-family: "Lato";
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: $black-color;
    margin-left: 85px;
  }
  &__list {
    position: relative;
    &::before {
      position: absolute;
      content: "";
      width: 1px;
      height: 200px;
      background-color: #e8e8e8;
      left: -35px;
    }
  }
  .list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
  }
  .list__item {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .list__item:first-child {
    span {
      font-family: "Lato";
      font-size: 18px;
      line-height: 22px;
      color: $blue-color;
      margin: 0;
    }
    h4 {
      font-family: "Lato";
      font-size: 32px;
      line-height: 38px;
      color: $blue-color;
    }
    p {
      font-family: "Suprema";
      font-size: 14px;
      line-height: 17px;
      color: $grey-color;
    }
  }
  .list__item:nth-child(2) {
    span {
      font-family: "Lato";
      font-size: 18px;
      line-height: 22px;
      color: $blue-color;
      margin: 0;
    }
    h4 {
      font-family: "Lato";
      font-size: 18px;
      line-height: 22px;
      color: $green-color;
    }
    p {
      font-family: "Suprema";
      font-size: 14px;
      line-height: 17px;
      color: $grey-color;
    }
  }
  .list__item:nth-child(3) {
    span {
      font-family: "Lato";
      font-size: 18px;
      line-height: 22px;
      color: $orange-color;
      margin: 0;
    }
    h4 {
      font-family: "Lato";
      font-size: 18px;
      line-height: 22px;
      color: $orange-color;
    }
    p {
      font-family: "Suprema";
      font-size: 14px;
      line-height: 17px;
      color: $grey-color;
    }
  }
  .list__item:last-child {
    a {
      display: block;
      width: 45px;
      height: 23px;
      background: #ebebeb;
      border-radius: 14px;
      &::before {
        content: "";
        display: block;
        width: 23px;
        height: 23px;
        background: #cdcdcd;
        border-radius: 14px;
      }
    }
    p {
      font-family: "Suprema";
      font-size: 14px;
      line-height: 17px;
      color: $grey-color;
    }
  }
}
.dashboard__transaction {
  grid-area: transaction;
  // background-color: blueviolet;
  table {
    width: 100%;
    margin: 20px 0 0 0;
    tbody {
      tr {
        th {
          font-family: "Suprema";
          font-size: 14px;
          line-height: 17px;
          color: $grey-color;
          text-align: start;
          padding: 0 0 8px 0;
        }
        th:last-child {
          text-align: end;
        }
        td {
          font-family: "Suprema";
          font-size: 14px;
          line-height: 17px;
          color: $lightGrey-color;
          padding: 12px 0;
        }
        td:last-child {
          text-align: end;
        }
      }
    }
  }
}
.dashboard__info {
  grid-area: info;
  display: flex;
  flex-direction: column;
  // background-color: indianred;
  justify-content: space-between;
}
.dashboard__goals {
  // grid-area: aside;
  // background-color: cadetblue;
  .goals__title {
    display: flex;
    align-items: center;
    font-family: "Suprema";
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: $black-color;
    margin-bottom: 16px;
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20px;
      height: 20px;
      background-color: $yellow-color;
      border-radius: 50%;
      margin-left: 8px;
    }
  }
  .title {
  }
  .goals__wrap {
    display: flex;
    justify-content: space-between;
  }
  .goals__item {
    width: 33.333%;
    height: 170px;
    padding: 15px 25px;
    border-radius: 28px;
    &:not(:last-child) {
      margin: 0 15px 0 0;
    }
  }
  .goals__text {
    font-family: "Suprema";
    font-size: 14px;
    line-height: 17px;
    color: $grey-color;
  }
  .goals__icon {
    display: block;
    padding-top: 20px;
  }
  .goals__description {
    font-family: "Suprema";
    font-size: 20px;
    line-height: 25px;
    color: $black-color;
  }
}
.dashboard__statistics {
  // grid-area: "aside";
  // background-color: gold;
}
.statistics {
  &__title {
    font-family: "Suprema";
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: #404040;
  }
  .title {
  }
  &__list {
    margin: 13px 0 0 0;
  }
  &__item {
    position: relative;
    display: flex;
    margin: 0 0 20px 0;
    img {
    }
    &:first-child {
      .statistics__icon {
        background: #ffeada;
      }
      .statistics__range::before {
        width: 195px;
        background: linear-gradient(270deg, #fcae73 0%, #f79042 99.18%);
      }
    }
    &:nth-child(2) {
      .statistics__icon {
        background: #ddf9e4;
      }
      .statistics__range::before {
        width: 62px;
        background: linear-gradient(90deg, #209d43 0%, #2bc255 100%);
      }
    }
    &:last-child {
      .statistics__icon {
        background: #e4f0ff;
      }
      .statistics__range::before {
        width: 281px;
        background: #70a6e8;
      }
    }
    span {
      font-family: "Lato";
      font-weight: 600;
      font-size: 24px;
      line-height: 29px;
      color: #696969;
    }
    p {
      position: absolute;
      bottom: 0;
      left: 60px;
      font-family: "Suprema";
      font-size: 14px;
      line-height: 17px;
      color: #aeaeae;
    }
  }
  &__icon {
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06),
      0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 3px;
    object-fit: 30px;
    margin: 0 15px 0 0;
  }
  &__range {
    width: 368px;
    height: 10px;
    background: #f1f1f1;
    border-radius: 14px;
    margin: 8px 16px 0 0;
    &::before {
      position: absolute;
      content: "";
      border-radius: 14px;
      height: 10px;
    }
  }
}
.dashboard__loan {
  // grid-area: "aside";
  // background-color: forestgreen;
  display: grid;
  grid-template-columns: 1fr 30%;
  gap: 15px;
  min-height: 180px;
  .transfer {
  }
  .transfer__loan {
  }
  .title {
  }
  .transfer__users {
    display: flex;
    justify-content: space-between;
    align-items: center;
		margin: 0 0 16px 0;
  }
  .transfer__user {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: stretch;
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20px;
      height: 20px;
      background-color: $yellow-color;
      border-radius: 50%;
      margin-left: 8px;
    }
    &:last-child p {
      white-space: nowrap;
    }
  }
  .transfer__form {
    display: grid;
    grid-template-columns: 1fr 40%;
    gap: 10px;
  }
  .transfer__input {
    background: #ffffff;
    border: 1px solid #197bbd;
    border-radius: 8px;
    padding: 10px;
  }
  .transfer__button {
  }
  .button {
  }
  &__card {
  }
  &__text {
  }
  .loan__card {
    position: relative;
    background: linear-gradient(135deg, #ed654c 0%, #d05842 100%);
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
    border-radius: 19.0044px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    &::before {
      content: url(../assets/icons/clouds-coins.svg);
      position: absolute;
      top: 5px;
      left: -10px;
    }
  }
  .box {
  }
  .loan__text {
    font-family: "Suprema";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: #ffffff;
		img {
			margin: 5px 0 0 20px;
		}
  }
}
